<%= form_for(@task) do |f| %>

<dic class="form-group">
    <%= f.label :task %>
    <%= f.text_field :task, class: "form-control" %></div>

    <%= f.label :due_date %>
    <%= f.text_field :due_date, class: "form-control" %></div>

        <div class="actions">
            <%= f.submit class: "btn btn-primary" %>
        </div>
    <% end %>